.App {
  text-align: center;
} 
body > #root > div {
  height: 100vh;
}

input.field{
  border: solid gray;
  border-radius: 5px;
  height: 15px;
  box-shadow: inset 2px 2px 2px 2px #a19d9d;
  padding: 5px;
}

button{
  margin-top: 10px;
}
